---
import Counter from '../components/Counter.jsx';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro</title>
	</head>
	<style>
		img {
			width: 200px;
		}
	</style>
	<body>
		<h1>Astro-firebase</h1>
		
		<Counter client:visible>
			<h2>Counter component</h2>
		</Counter>

		<img src="/puppy.png" alt="puppy"/>
	</body>
</html>